---
layout: archive
---

{{ content }}


<center>
  <h1 style="color: ">ESPP2023 Poster</h1>
  <object data=
"../ErikSNickel_Poster_AH.pdf" 
width="800"
height="1150">
  </object>
</center>
<h1 style="color: ">Abstract</h1>
<p>In the present study, we investigate the state of the masculine
  generic form in language comprehension in the German language. For this,
  we employed a self-paced reading task with a vignette introducing the
  then-upcoming German federal election in 2021.</p>
  <h4 id="background">Background</h4>
  <p>The German language is a fully grammatically gendered language,
  compared to other languages which are completely genderless <span
  class="citation"
  data-cites="gygaxGenericallyIntendedSpecifically2008">(Gygax et al.
  2008)</span>. Hence, all nouns are assigned one of three grammatical
  genera: feminine, masculine or neuter. For our study we considered role
  nouns which refer to a specific social or occupational role of a person
  <span class="citation"
  data-cites="miserskyNormsGenderPerception2014">(Misersky et al.
  2014)</span>. Since German genera are closely connected to the gender
  and sex of a person, there is a debate how to use the different gender
  forms in German and, specifically, how to produce a generic form. The
  masculine generic form is regarded by many to be the standard for such a
  generic form. Past research made evident that this approach is
  unsatisfactory, in the regard, that it does not capture the intention of
  the speaker of producing either no or evenly spread gender information.
  To the recipient, the male gender is vastly over-represented <span
  class="citation"
  data-cites="gygaxGenericallyIntendedSpecifically2008 braunCognitiveEffectsMasculine2005">(Gygax
  et al. 2008; Braun, Sczesny, and Stahlberg 2005)</span>. Previous
  studies have shown that in German, political role nouns are
  predominantly male represented<span class="citation"
  data-cites="miserskyNormsGenderPerception2014">(Misersky et al.
  2014)</span>, which is support by the mostly male staffed parliament
  <span class="citation"
  data-cites="deutscherbundestagDeutscherBundestagAbgeordnete2017">(Deutscher
  Bundestag 2017)</span>. Contrary to these past overall trends, the
  position of the German chancellor before the elections in 2021, was held
  by Angela Merkel, for sixteen consecutive years. This means in turn that
  for a whole generation growing up in Germany, the highest political
  position was held by a woman. To incorporate all these details into one
  coherent study, a design by <span class="citation"
  data-cites="vondermalsburgImplicitGenderBias2020">von der Malsburg,
  Poppels, and Levy (2020)</span> was adopted, with some overlap in the
  adaptation to the followup study by <span class="citation"
  data-cites="pozniakFailuresGriceanReasoning2021">Pozniak and Burnett
  (2021)</span>. This study examined the status of the masculine form in
  German. We hypothesized that the masculine generic form would be
  dominant compared to the other gender forms. This would mean that the
  widespread use of the generic masculine form would have a stronger
  effect on processing preferences than the recent stereotype of a female
  chancellor.</p>
  <h4 id="method">Method</h4>
  <p>For this purpose, an experiment was conducted preceding the German
  federal elections in September 2021, recruiting n = 56 (female: 29)
  university students as participants. This study utilized the method of
  self-paced reading and included a measure for the expectation for the
  gender of the next German chancellor. The reading times of masculine,
  feminine and inclusive forms were examined to deepen the understanding
  about their roles in the German language. As a vignette, we used a
  non-priming stage-setting sentence, determined in a pilot study. The
  actual stimulus sentence comprised two parts. The first mentioned the
  noun "chancellor", the second used a personal pronoun referring to the
  chancellor. The noun and the pronoun each varied in their genus. For
  each there were the three options of masculine form, feminine form and
  inclusive form. The masculine and feminine forms are the standard forms
  "der Bundeskanzler" and "die Bundeskanzlerin" respectively. Since there
  is no standard for an inclusive form we picked one of the most prevalent
  forms, which is the masculine root of the noun with the feminine suffix
  separated by an asterisk, "der*die Bundeskanzler*in"<a href="#fn1"
  class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a>.
  Each participant read each of the nine possible combination of noun and
  pronoun in a standard moving window self-paced reading paradigm. Before,
  their belief of gender of the chancellor was estimated in a separate
  task.</p>
  <h4 id="results-and-discussion">Results and Discussion</h4>
  <p>The analysis was conducted using Bayesian inference methods. There
  was no effect of the belief in different gender, of the next chancellor,
  the reading time of the noun. However, there is an effect in the reading
  times of the pronoun. The interpretation of the results of the reading
  time of the pronoun is suggestive regarding the way the noun is
  perceived. The results are reported in <a href="#fig:RT_pronoun"
  data-reference-type="autoref"
  data-reference="fig:RT_pronoun">[fig:RT_pronoun]</a> asterisks mark
  significant interactions.</p>
  <p>Comparing the congruent pairs, in which noun and pronoun have the
  same gender, the masculine pair is read significantly faster than the
  feminine pair and nearly significantly faster than the inclusive pair.
  The difference between the inclusive and feminine pair is not
  significant. When comparing each of these congruent pair to all other
  pairs which have at least one of the congruent constituents(e.g.
  feminine-feminine pair versus feminine-masculine, feminine-feminine
  versus feminine-inclusive,...) The masculine-masculine and the
  feminine-feminine noun-pronoun pairs seem to follow one pattern. They
  are always read significant or nearly significant faster than the
  incongruent pairs. Besides the case, of the inclusive noun followed by a
  masculine or feminine pronoun respectively. It seems, that the inclusive
  noun form is perceived generic, open for other gender forms. This gets
  evident by the lack of low level processing difficulties expected from
  grammatical incongruent forms. This does not hold for the inclusive
  pronoun, which was a novel form in this study. That the
  inclusive-inclusive noun-pronoun pair is read significantly faster than
  the feminine-inclusive is surprising and needs further to investigate
  and validate any possible stable effect.</p>
  <p>Overall, the masculine form is dominant to the other forms since it
  is read faster than most case, so we can clearly see a male stereotype
  support by this but not a true masculine generic form. This stereotype
  can not be grounded by the fact that there was a long term female
  chancellor, but rather by the use of masculine generics. This is support
  by the lack of effect for different gender belief of the next
  chancellor. We got primary insights, into the inclusive noun form, which
  provides what we expect from a generic form. It does not reduce the
  reading time significantly, no matter the gender assigned to it by a
  subsequent pronoun. Furthermore, we see that this inclusive noun form is
  not adaptable to pronouns. This indicates that the past active use of
  the noun form is what provided its advantage as a generic form.</p>
  <h1 class="unnumbered" id="figures">Figures</h1>
  <figure id="fig:RT_pronoun">
  <img src="../RT_pronoun.png" />
  <figcaption>Accumulated reading times of the pronoun and the four
  consecutive words in milliseconds. The asterisks mark the significant
  interactions with a posterior probability <span
  class="math inline"> ≥ 95%</span>.</figcaption>
  </figure>
  <div id="refs" class="references csl-bib-body hanging-indent"
  role="list">
  <div id="ref-braunCognitiveEffectsMasculine2005" class="csl-entry"
  role="listitem">
  Braun, Friederike, Sabine Sczesny, and Dagmar Stahlberg. 2005.
  <span>“Cognitive <span>Effects</span> of <span>Masculine Generics</span>
  in <span>German</span>: <span>An Overview</span> of <span>Empirical
  Findings</span>”</span> 30 (1): 1–21. <a
  href="https://doi.org/10.1515/comm.2005.30.1.1">https://doi.org/10.1515/comm.2005.30.1.1</a>.
  </div>
  <div id="ref-deutscherbundestagDeutscherBundestagAbgeordnete2017"
  class="csl-entry" role="listitem">
  Deutscher Bundestag. 2017. <span>“Deutscher Bundestag - Abgeordnete in
  Zahlen.”</span> <span>Deutscher Bundestag</span>. 2017. <a
  href="https://www.bundestag.de/webarchiv/abgeordnete/biografien18/mdb_zahlen">https://www.bundestag.de/webarchiv/abgeordnete/biografien18/mdb_zahlen</a>.
  </div>
  <div id="ref-gygaxGenericallyIntendedSpecifically2008" class="csl-entry"
  role="listitem">
  Gygax, Pascal, Ute Gabriel, Oriane Sarrasin, Jane Oakhill, and Alan
  Garnham. 2008. <span>“Generically Intended, but Specifically
  Interpreted: <span>When</span> Beauticians, Musicians, and Mechanics Are
  All Men.”</span> <em>Language and Cognitive Processes</em> 23 (3):
  464–85. <a
  href="https://doi.org/10.1080/01690960701702035">https://doi.org/10.1080/01690960701702035</a>.
  </div>
  <div id="ref-vondermalsburgImplicitGenderBias2020" class="csl-entry"
  role="listitem">
  Malsburg, Titus von der, Till Poppels, and Roger P. Levy. 2020.
  <span>“Implicit <span>Gender Bias</span> in <span>Linguistic
  Descriptions</span> for <span>Expected Events</span>: <span>The
  Cases</span> of the 2016 <span>United States</span> and 2017
  <span>United Kingdom Elections</span>.”</span> <em>Psychological
  Science</em> 31 (2): 115–28. <a
  href="https://doi.org/10.1177/0956797619890619">https://doi.org/10.1177/0956797619890619</a>.
  </div>
  <div id="ref-miserskyNormsGenderPerception2014" class="csl-entry"
  role="listitem">
  Misersky, Julia, Pascal Gygax, Paolo Canal, Ute Gabriel, Alan Garnham,
  Friederike Braun, Tania Chiarini, et al. 2014. <span>“Norms on the
  Gender Perception of Role Nouns in <span>Czech</span>,
  <span>English</span>, <span>French</span>, <span>German</span>,
  <span>Italian</span>, <span>Norwegian</span>, and
  <span>Slovak</span>.”</span> <em>Behavior Research Methods</em> 46 (3):
  841–71. <a
  href="https://doi.org/10.3758/s13428-013-0409-z">https://doi.org/10.3758/s13428-013-0409-z</a>.
  </div>
  <div id="ref-pozniakFailuresGriceanReasoning2021" class="csl-entry"
  role="listitem">
  Pozniak, Céline, and Heather Burnett. 2021. <span>“Failures of
  <span>Gricean</span> Reasoning and the Role of Stereotypes in the
  Production of Gender Marking in <span>French</span>.”</span> <em>Glossa:
  A Journal of General Linguistics</em> 6 (1): 50. <a
  href="https://doi.org/10.5334/gjgl.1310">https://doi.org/10.5334/gjgl.1310</a>.
  </div>
  </div>
  <section id="footnotes" class="footnotes footnotes-end-of-document"
  role="doc-endnotes">
  <hr />
  <ol>
  <li id="fn1"><p>The asterisk is commonly read as a glottal stop.<a
  href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
  </ol>
  </section>
  


  

